.bAVzgZ {
	display: flex;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: auto;
    color: white;
    justify-content:space-evenly;
}


.kvSgCM {
    display: grid;
    grid-template-columns: auto auto;
    padding: 6px 14px;
background-image: radial-gradient(circle, #8796ac, #778098, #676b84, #595770, #4b435c);
    width: 20vw;
    margin: 14px;
    border-radius: 10px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.kvSgCM .skill-heading {
    font-weight: 500px;
    font-size: 20px;
}
.adjust {
	width: 40px;
	height: 40px;
}

