.bAVzgZ {
	display: flex;
    width: 100%;
    margin: auto;
    justify-content:space-evenly;
}


.kvSgCM {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 6px 14px;
    width: 260px;
    background: linear-gradient(
270deg
, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    margin: 14px;
    border-radius: 10px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.kvSgCM .skill-heading {
    font-weight: 500;
    font-size: 20px;
}
.adjust {
	width: 30px;
	height: 20px;
}
p {
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
